{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% trans "Оптовикам"%}{% endblock page_title %}
{% block content %}
<main class="container container-business">
    <div class="business row">
        <div id="offer" class="business-content col-lg-5 col-sm-12">
            <h1>{% trans "Преимущества ETINAT-стаканчик для предпринимателей"%}</h1>
            <ul>
                <li>
                    <i class="fas fa-ruble-sign"></i>
                    <p>{% trans "Купленный товар стоимостью " %}<strong><a href="#askPriceList">{% trans "предложенной суммой" %}</a></strong>{% trans " можете продать " %}<strong>{% trans "намного" %}</strong>{% trans " дороже себестоимости!" %}</p>
                </li>
                <li>
                    <i class="fas fa-users"></i>
                    <p>{% trans "Вам нет нужды контролировать процесс закупки, доставку, подачу. Расскажите нам о своей задаче и мы подскажем наилучшее решение с участием нашего ETINAT-стаканчика."%}</p>
                </li>
                <li>
                    <i class="fas fa-user-shield"></i>
                    <p>{% trans "В отличии от кофе-машин — не ломается, не обязывает Вас к постоянному техническому обслуживанию и покупке ингредиентов в одном месте."%}</p>
                </li>
                <li>
                    <i class="fas fa-bezier-curve"></i>
                    <p>{% trans "Сфера применения настолько обширна, что не уместится в этом блоке."%}</p>
                </li>
                <li>
                    <i class="fas fa-check-double"></i>
                    <p>{% trans "Наполнитель (напиток), сахар, ложка - все в одном стаканчике! Нет нужды покупать что-либо отдельно!"%}</p>
                </li>
                <li>
                    <i class="fas fa-chart-line"></i>
                    <p>{% trans "Вы всегда контролируете свою прибыль и эффективность в направлении горячих напитков!"%}</p>
                </li>
                <li>
                    <i class="far fa-handshake"></i>
                    <p>{% trans "Ваши клиенты отметят отличный вкус, удобство и заботу с которой вы к ним относитесь!"%}</p>
                </li>
                <li>
                    <i class="fas fa-truck"></i>
                    <p>{% trans "По Москве и М.О доставка на следующий день! В некоторых случаях возможна доставка в день заказа!"%}</p>
                </li>
            </ul>
        </div>
        <div class="business-img col-lg-7 col-sm-12">
            <img src="{% static 'images/business1.jpg' %}" alt="" />
        </div>
        <button class="btn my-2" onclick="window.location.href='{% url 'products' %}'">{% trans "Заказать"%}</button>
    </div>
    <div class="business row" id="askPriceList">
        <div id="offer" class="business-content col-lg-5 col-sm-12">
            <h3>{% trans "Если вы хотите узнать цену на оптовое количество звоните нам по телефону "%}<a href="tel:+74992499000">{% trans "+7 (499) 249-90-00"%}</a>{% trans " или "%}<a href="tel:+79299009009">{% trans "+7 (929) 900-90-09"%}</a>{% trans " или пишите на электронную почту "%}<a href="mailto:info@etinat.org">{% trans "info@etinat.org"%}</a>{% trans ". Или же "%}<a href="javascript:void(0)" class="call-back-link normal-link">{% trans "оставляйте нам свой номер, мы свяжемся с вами."%}</a></h3> 
        </div>
        <div class="business-img col-lg-7 col-sm-12">
            <img src="{% static 'images/contact-us-to-get-price-list.png' %}" alt="" />
        </div>
    </div>
    <div class="business-carousel-section row">
        <div class="section-title" style="color: #366837">{% trans "Наши награды"%}</div>
        <div class="col-lg-5 business-certificate-content mb-4">
            <p>{% trans "Мы всегда проявляем активность на выставках и форумах касающихся питания. За 7 лет нашей работы, мы можем похвастаться наградами с многих тематических выставок и форумов, что характеризует наш продукт признанным сообществом быстрого питания. Посмотреть все наши заслуги вы можете по кнопке ниже."%}</p>
            <button class="btn my-2" onclick="window.location.href='{% url 'about' %}#rewards'">{% trans "Награды"%}</button>
        </div>
        <div id="carouselExampleFade" class="carousel slide business-carousel carousel-dark col-lg-7" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/certificates/5stblock.jpg' %}" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/certificates/5stblock2.jpg' %}" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/certificates/5stblock5.jpg' %}" class="d-block w-100" alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% trans "Previous"%}</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% trans "Next"%}</span>
        </button>
        </div>
    </div>
    <div class="business-carousel-section row">
        <div class="section-title" style="color: #366837">{% trans "Наше производство"%}</div>
        <div id="carouselExampleFade2" class="carousel slide business-carousel carousel-dark col-lg-7" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="{% static 'images/production1.jpg' %}" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/production2.jpg' %}" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/production3.jpg' %}" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/production4.jpg' %}" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/production5.jpg' %}" class="d-block w-100" alt="..." />
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button> -->
        </div>
        <div class="col-lg-5 business-certificate-content">
            <p>{% trans "Мы являемся производителем и создателем ETINAT-стаканчика, оборудование было разработано исключительно по нашим чертежам и схемам. Более подробно по кнопке ниже."%}</p>
            <button class="btn my-2" onclick="window.location.href='{% url 'about' %}'">{% trans "Производство"%}</button>
        </div>
    </div>
</main>
{% endblock content %}