{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}{% trans "Продукция" %}{% endblock page_title %}

{% block content %}
<div class="container-products">
    <div class="row ms-0 me-0 bg-image-color"></div>
    <div class="row ms-0 me-0 bg-image justify-content-center align-items-center">
        <div class="col-10 mx-auto text-center bg-image-text">
            <h1 class="mb-4">{% trans "Продукция" %}</h1>
            <a href="#products" class="btn-product">{% trans "Показать Продукты"%}</a>
        </div>
    </div>
</div>
<section id="dostavka" class="tabs container">
    <div class="row ms-0 me-0 tab-section-div">

        <div class="col-lg-4 tab-images d-flex flex-column justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-12 tab-image" data-name="order">
                    <img src="{% static 'images/cart.png' %}" alt="">
                </div>
                <div class="col-lg-12 tab-image active" data-name="deliver">
                    <img src="{% static 'images/pallet-boxes-removebg-preview.png' %}" alt="">
                </div>
                <div class="col-lg-12 tab-image" data-name="payment">
                    <img src="{% static 'images/mobile-pay-removebg-preview.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-8 tab tab-style">
            <div id="#headings" class="row ">
                <div class="col-lg-4 tab-1 tab-heading" data-name="order"><span><i class="fas fa-shopping-basket"></i></span> {% trans "Минимальный заказ"%}</div>
                <div class="col-lg-4 tab-2 tab-heading" data-name="deliver"><span><i class="fas fa-truck"></i></span> {% trans "Доставка"%}</div>
                <div id="payment" class="col-lg-4 tab-3 tab-heading" data-name="payment"><span><i class="fas fa-credit-card"></i></span> {% trans "Оплата"%}</div>
            </div>
            <div class="row contents">
                <div class="col-lg-12 tab-content active" data-name="order">
                    <ul>
                        {% for text in minimal_order_texts %}
                            <li><i class="fab fa-envira"></i> {{text.text_ru}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-12 tab-content" data-name="deliver">
                    <ul>
                        {% for text in delivery_texts %}
                            <li><i class="fab fa-envira"></i> {{text.text_ru}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-12 tab-content" data-name="payment">
                    <ul>
                        {% for text in payment_texts %}
                            <li><i class="fab fa-envira"></i> {{text.text_ru}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products">

    <div class="products-div row products-width mx-auto">
    {% for product in products %}
        <div class="col-10 col-lg-4 col-sm-6 mx-auto my-3"
         data-id="{{product.pk}}" 
         data-img="{{product.product_image.url}}"
         data-price="0"
         data-title="{{product.name}}">
            <div class="product-item product-item-1">
                <div class="container-products">
                    <div class="top product-1" style="display:flex; justify-content:center; align-items:center; width:100%">
                    <img src="{{product.product_image.url}}" style="width:100%; object-fit:contain;">
                    </div>
                        <div class="bottom">
                            <div class="left">
                                <div class="details">
                                  <h1>{{ product.name }}</h1>
                                  {% comment %} <p>{{product.price_rub}}₽</p> {% endcomment %}
                                </div>
                            <div class="buy" data-id="1"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                        <div class="right">
                            <div class="done"><i class="material-icons">done</i></div>
                            <div class="details">
                                <h1>{% trans "Добавлен в корзину"%}</h1>
                            </div>
                            <div class="remove"><i class="material-icons">clear</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <table>
                            <tbody>
                                <tr>
                                    <th>{% trans "Имя"%}</th>
                                    <th>{% trans "Цена"%}</th>
                                </tr>
                                <tr>
                                    <td>{{product.name}}</td>
                                    <td><a href="{% url 'wholesalers' %}#askPriceList">{% trans "узнать цену" %}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="overflow:auto;max-height:320px;">{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock content %}